.main-nav {
    height: 70px;
    color: #FFF;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 0px;
    margin-right: 0px;

}

.nav-logo-text {
    width: 30%;
    color: #FFF;
}

.menu-container {
    width: 55%;
    display: flex;
    flex: 1;
    justify-content: center;
    flex-wrap: nowrap;
}

.main-menu {
    max-width: 300px;
    display: flex;
    flex: 1;
    justify-content: space-between; 
    align-items: flex-end;
}

.nav-link {
    font-style: normal;       
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    
    &.active {
        font-weight: bold;
        color: #FFF;
    }

    &:hover {
        color: #FFF;
    }
}

//mobile breakpoints
@media (max-width: 768px){
    .menu-container {
        justify-content: flex-end;
    }
}
@media (max-width: 576px){
    .menu-container {
        border: 1px solid green;
    }
}


