.main-nav {
    height: 70px;
    color: #FFF;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 0px;
    margin-right: 0px;

}

.nav-logo-text {
    color: #FFF;
}

.main-menu {
    display: flex;
    justify-content: center;

    li:nth-child(2) {
       margin-right: 85px;
       margin-left: 85px;
    }    
}

.nav-link {
    font-style: normal;       
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    
    &.active {
        font-weight: bold;
        color: #FFF;
    }

    &:hover {
        color: #FFF;
    }
}
