.admin-container {
    display: flex;
    background: #FFF;
}
.admin-content {
    padding-left: 40px;
    padding-top: 25px;
    padding-bottom: 45px;
    padding-right: 40px;
    flex: 1;
}

.admin-list-container{
    margin-top: 45px;
    margin-bottom: 45px;
    margin-left: 0;
    margin-right: 0;
}