.product-details-container {
    margin: 40px 0px;
    padding: 0px 40px;
    
    .product-price-container {
        margin-top: 30px;
    }
}

.product-details-info{
    display: flex;
    flex-direction: row;

}

.product-details {
    padding-top: 50px;
    padding-left: 90px;
    padding-right: 60px;
    padding-bottom: 90px;
}

.products-details-goback {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.icon-goback {
    color: #407bFF;
    transform: rotate(-180deg);
    margin-right: 30px;
}

.text-goback {
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
    color: #263238;
    text-transform: uppercase;
}

.product-details-card {
    width: 100%;
    border: 1px solid #E1E1E1;
    border-radius: 20px;
    padding-top: 38px;
    padding-left: 29px;
}

.product-details-image {
    width: 353px;
    height: 353px;
}

.product-description-title {
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
    color: #9E9E9E;
    margin-bottom: 25px;
}

.product-description-text {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
    color: #9E9E9E;
}

.product-details-name {
    font-size: 36px;
    line-height: 49px;
    letter-spacing: -0.015em;
    margin-top: 35px;
}

.product-details .product-price {
    font-size: 48px;
}

@media (max-width: 768px){
    .product-details {
        display: flex;
        flex-direction: column;
    }

    .product-details-info {
        flex-direction: column;
    }

    .product-details-card {
        width: 530px;
        margin: 0 auto;
    }
    
    .product-info-fields {
        border: 0px;
        padding: 0px 10px;
        margin-bottom: 40px;
        width: 530px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .product-description-text {
        width: 460px !important;

    }
}

