.product-card {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    text-align: center;
}

.product-info {
    border-top: 1px solid #E1E1E1 !important;
    text-align: left;
    padding-top: 15px;
    margin-top: 15px;
}

.product-name {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
    color: #263238;
}

.product-card-image {
    width: 100%;
}