.admin-nav-container {
    width: 300px;
    background-color: #f4f6fc !important;
    height: calc(100vh - 70px);
}
.admin-nav-item {
    height: 80px;
    display: block;
    border-bottom: 1px solid #E1E1E1;
    display: flex;
    align-items: center;
    padding-left: 40px;
    font-weight: bold;
    font-size: 18px;
    line-height:25px;
    letter-spacing: -0.015em;
    color: #9E9E9E;

    &.active {
        background: rgba(64, 123, 255, 0.3);
        color: #407BFF;

    }

    &:hover {
        color: #407BFF;
    }
}

@media (max-width: 768px) {
    .admin-nav-container {
        width: 90%;
        padding-left: 50px;
        height: 100px;
        display: flex;
        align-items: center;
    }

    .admin-nav-container ul {
        width: 90%;
        display: flex !important;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .admin-nav-item {
        width: 200px;
        height: 60px;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 0px;
        background: #F2F2F2 ;
    }
}

@media (max-width: 576px) {
    .admin-nav-container {
        width: 95% !important;
        
        height: 80px;
        display: flex;
        align-items: center;
    }
    
    .admin-nav-item {
        font-size: small;
        justify-content: center;
        background: #f2f2f2;
        align-items: center;
        width: 120px;
        height: 50px;
    }
 }